$body-accent: #f4f7fc;
$heading-text: #0b2253;
$heading-text-size: 46px;
$medium-text-size: 30px;
$small-text-size: 14px;
$normal-text-size: 24px;
$grey-text: #b3becf;
$grey-text2: #6d7a98;
$label-font-size: 14px;
$blue: #1f6aec;
$border: #dee3eb;
$dash-grey-text: #3a434b;
$red-accent: #700f0f;

%form-p-text {
  color: $grey-text2;
  font-size: $small-text-size;
  line-height: 16px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.app {
  background-color: $body-accent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .body {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    display: block;
  }
}

.logo {
  img {
    width: 42.61px;
    height: 37px;
  }
}

.title-card {
  margin-top: 3rem;
  h1 {
    color: $heading-text;
    font-size: $heading-text-size;
    font-style: bold;
    line-height: 48px;
  }
  p {
    color: $grey-text;
    font-style: medium;
    font-size: $medium-text-size;
    line-height: 42px;
    margin-top: 24px;
  }
}
.btn {
  width: 464px;
  height: 48px;
  background-color: $blue;
  color: #ffffff;
  border-radius: 8px;
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
}
.question {
  @extend %form-p-text;
}
a {
  text-decoration: none;
  color: $blue;
}

// index styles

%btns {
  width: 167px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: rgba($heading-text, 0.2);
  }
}

.transfer-funds {
  @extend %btns;
  color: $blue;
  background-color: #ffffff;
  border: 1px solid $blue;
  margin-right: 20px;
}
.fund-wallet {
  @extend %btns;
  color: #ffffff;
  background-color: $blue;
  border: none;
}

.content_wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}
.balance_wrapper {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
}
.btn_wrapper {
  display: flex;
}
.balance {
  width: 100%;
  max-width: 552px;
  height: 96px;
  padding: 24px;
  border: 1px solid $border;
  border-radius: 8px;
  p {
    font-size: $normal-text-size;
    font-weight: 600;
  }
  .currency {
    color: $grey-text2;
    font-size: $small-text-size;
    font-weight: 400;
  }
}

.hello_wrapper {
  width: 100%;
  display: flex;
  p {
    font-size: $normal-text-size;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      text-shadow: 1px 1px $grey-text;
    }
  }
}
.naira-sign {
  content: "\20A6";
}

.hand {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  cursor: pointer;
  &:hover {
    width: 40px;
    height: 40px;
  }
}
@keyframes wave-animation {
  40% {
    transform: rotate(60deg);
  }
}

// TRANSACTION STYLES

.transaction-history {
  width: 100%;
  p {
    font-size: 16px;
    margin-top: 16px;
  }
}

table td {
  border-collapse: collapse;
  border-bottom: 1px solid rgba(22, 42, 86, 0.1);
  padding-left: 24px;
}

thead {
  width: 100%;
  background-color: #f1f4f8;
  tr {
    width: 90%;
    height: 56px;
    border: none;
    cursor: pointer;
    th {
      text-align: inherit;
      font-size: 16px;
      font-weight: 400;
      padding-left: 24px;
    }
  }
}

.status-success {
  width: 110px;
  height: 35px;
  display: inline-flex;
  background-color: #c0f2d4;
  border-radius: 4px;
  margin: 23px 0 24px 0;
  padding: 2px;
}
.success-wrapper {
  margin-top: -11px;
}
.white {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 0 2px;
  .green {
    width: 6px;
    height: 6px;
    background-color: #1e944d;
    border-radius: 50%;
  }
}
.success {
  font-size: 12px;
  color: #166a37;
}

.failed {
  color: #700f0f;
  font-size: 12px;
}
.red {
  width: 6px;
  height: 6px;
  background-color: #9d1515;
  border-radius: 50%;
}
.status-failed {
  width: 74px;
  height: 35px;
  display: inline-flex;
  background-color: #fce9e9;
  border-radius: 4px;
  margin: 23px 0 24px 0;
  padding: 2px;
}

table {
  width: 100%;
  max-width: 80vw;
  border-spacing: 0;
  // overflow: scroll;
}

td {
  cursor: pointer;
  span {
    color: $grey-text;
  }
}

@media screen and (max-width: 768px) {
  .title-card {
    margin-top: 20px;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      margin-bottom: 24px;
    }
  }
  .btn {
    width: 100%;
  }
  .logo {
    img {
      position: relative;
      top: 20px;
      left: 20px;
    }
  }
}
